body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}
#left-button-container {
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 5vh;
	padding: 10px;
}
#left-button-container:hover {
	opacity: 1;
	background-image: linear-gradient(to right, rgb(0, 238, 255, 1), rgba(255, 0, 0, 0));
	animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0; /* Initial state: fully transparent */
	}
	to {
		opacity: 1; /* Final state: fully visible */
	}
}

.left-circular-button {
	display: none;
}
#left-button-container:hover .left-circular-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

#right-button-container {
	align-self: flex-end;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 5vh;
	padding: 10px;
}
#right-button-container:hover {
	opacity: 1;
	background-image: linear-gradient(to left, rgb(0, 238, 255, 1), rgba(255, 0, 0, 0));
	animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0; /* Initial state: fully transparent */
	}
	to {
		opacity: 1; /* Final state: fully visible */
	}
}

.right-circular-button {
	display: none;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
#right-button-container:hover .right-circular-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
	background-color: red;
	width: 100%;
	height: 200px;
	margin: 10px;
}
